.index {
    width: 1920px;
    height: 950px;
    border: 1px solid red;
    background: #b2b2b2;
}
.head {
    width: 1280px;
    height: 100px;
    line-height: 100px;
    margin: auto;
    
}
.head li {
    display: inline-block;
    line-height: normal;
    padding-right: 15px;
}
.head li a{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    opacity: .9;
}
.head li:nth-child(7) {
    float: right;
    line-height: 100px;
    padding-right: 0px;
}
.head li:nth-child(7) img{
    width: 17px;
    height: 18px;
    margin-right: 10px;
    opacity: .8;
}
.head li a:hover {
    color: white;
    transition:all 0.3s ease;
    opacity: 1;
}
.title {
    width: 1600px;
    margin: auto;
    text-align: center;
    margin-top: 230px;
}
#Title {
    display: block;
    font-weight: bold;
    font-size: 70px;
    color: white;
    opacity: .9;
    font-family: 'Montserrat', sans-serif;
}
#Title:hover, #sub_Title:hover {
    transition:all 0.3s ease;
    opacity: 1;
}
#sub_Title {
    margin-top: 30px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 19px;
    opacity: .9;
    
    
}
#plan {
    margin-top: 35px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 25px;
    background-color: #29abe2;
    padding: 16px 59px;
    line-height: 48px;
    width: 225px;
    height: 48px;
    border-radius: 40px;
    transition:all 0.3s ease;
    opacity: .5;
}
#plan:hover {
    transition:all 0.3s ease;
    opacity: 1;
    cursor: pointer;
    color: white;
}
.footer {
    position: relative;
    display: inline-block;
    top: 130px;
    left: 220px;
    margin-left: 20px;
}
.footer img {
    position: relative;
    display: block;
    width: 100px; 
    opacity: .8;
    top: 70px;
    left: 100px;
}
#footer_watch {
    display: block;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: white;
    opacity: .8;
    font-size: 20px;
    left: 200px;
}
#footer_intro {
    padding-top: -3px;
    position: relative;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 25px;
    opacity: .8;
    left: 200px;
}
.footer img:hover, #footer_watch:hover, #footer_intro:hover {
    transition:all 0.3s ease;
    color: yellow;
    opacity: 1;
    cursor: pointer;
}
